/* header start */
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: var(--darkBlue);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--darkBlue);
    justify-content: center;
    overflow: auto;
    min-height: 10vh;
    border-bottom: 2px solid var(--lightGray);
}

#imageContainer {
    display: flex;
}

a {
    text-decoration: none;
}

#logo {
    align-self: center;
    height: 80px;
}

#pageName {
    height: 65px;
    width: 100px;
    font-size: 18px;
    font-family: "Roboto", serif;
    color: var(--white);
    margin-left: 5px;
}

#search {
    display: flex;
    align-items: center;
    height: 53px;
}

#searchInput {
    height: 100%;
    width: 300px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-family: "Roboto", serif;
    outline: none;
    box-sizing: border-box;
}

#searchButton {
    height: 100%;
    width: 80px;
    border: none;
    background-color: var(--coral);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#magGlass {
    height: 35px;
}

nav {
    display: flex;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 180px;
    color: var(--white);
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
}

#loginButton {
    height: 60px;
    width: 150px;
    margin-left: 50px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    color: var(--coral);
    border: 4px solid var(--coral);
    cursor: pointer;
}


   /* header end */
/* body start */
body {
    overflow: auto;
}

.bodycontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.bodycontent h1 {
    font-family: "Roboto", serif;
    color: white;
    padding: 0;
    margin-top: 20px;
}

.bodycontent hr {
    margin-top: 0;
}

.bodyText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 10px;
}

.bodyText h2 {
    font-family: "Roboto", serif;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bodyText p {
    font-family: "Roboto", serif;
    color: white;
    font-size: 15px;
    margin-left: 0;
    padding-left: 0;
}

hr {
    border: none;
    border-top: 1px solid white;
    margin: 25px 0;
    width: 100%;
}

#main a:visited {
    color: var(--coral);
}

h3 {
    font-family: "Roboto", serif;
    color: white;
    padding: 0;
    margin: 0;
}

p {
    font-family: "Roboto", serif;
    color: white;
}

#breadcrumbs {
    color: white;
    font-family: "Roboto", serif;
    font-size: 15px;
    width: 60%;
}
#bread {
    display: flex;
    min-height: 5vh;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
}
#bread a:link, #bread a:hover, #bread a:visited {
    color: var(--coral)
}
#main {
    display: flex;
    background-color: var(--blue);
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* body end */

/* footer start */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--darkBlue);
    justify-content: center;
    overflow: auto;
    min-height: 20vh;
    width: 100%;
    border-top: 2px solid var(--lightGray);
    z-index: 999;
}

#footContent {
    width: 80%;
    height: 80%;
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    color: var(--white);
    font-size: 14px;
    margin: 10px;
}

p {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    margin: 10px;
}

.row {
    display: flex;
    align-items: center;
}

.footText {
    margin-left: 30px;
    color: var(--lightGray);
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
/* footer end */

/* Media Query */
@media only screen and (max-width: 980px) {
    header {
        justify-content: flex-start;
        scrollbar-width: none;
    }
    .bodycontent h1 {
        font-family: "Roboto", serif;
        color: white;
        padding: 0;
        margin-top: 5px;
        text-align: center;
    }
    footer {
        scrollbar-width: none;
    }
}